<!-- Add this where you want the reviews to appear -->
<div class="reviews-list"></div>

<!-- Make sure you have this button in your HTML -->
<div class="load-more-container">
  <button class="load-more-button">Load more</button>
</div>
